.title {
  padding: 0 10px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: #888888;
  text-align: center;
}
#itemlist{
  max-width:100%;
}
.check-btn{
	/*font-size:60%;*/
/*	word-wrap: break-word;
*/
/*	white-space:normal;
*/background-color:#999;
}
.sub-container{
  margin: 15px 15px;
}
.add-friend-container.item{
  border-top: 0;
  border-bottom: 1px solid #dedede;
}
.item-input-double-button {
	position:static;
}

.item-input-wrapper-double-button{
	display:inline-block;
	width:55%;
}

.loader {
  font-size: 10px;
  margin: 10px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #bbbbbb;
  background: -moz-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #bbbbbb;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #f4f4f4;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
